/*************** Reset *********************/
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

body {
  margin: 20;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 1.6;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 200;
  padding: 20px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}

/* Forside start */
.vores.vision {
  text-align: center;
}
.forside {
  display: grid;
}
.image-container {
  display: flex; /* Gør containeren til en flex-beholder */
  width: 100%; /* Sørger for at containeren fylder hele bredden */
  margin: 0; /* Fjerner margen fra containeren */
  padding: 0; /* Fjerner padding fra containeren */
}

.image-container img {
  width: 100%; /* Hvert billede fylder 50% af containerens bredde */
  display: block; /* Sikrer, at billederne opfører sig som blokke og ikke efterlader mellemrum */
  margin: 0; /* Fjerner standardmargen fra billederne */
  padding: 0; /* Fjerner standardpadding fra billederne */
  box-sizing: border-box; /* Sikrer, at padding og border ikke ændrer bredden af billedet */
}
.container {
  display: flex;
  align-items: center; /* Lodret centrering */
  gap: 5rem; /* Giver beholderen en højde for at se den lodrette centrering */
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* Forside slut */

/* Materialer start */

/* Materialer slut */

/* Naturlige Materialer start */
/* Naturlige Materialer slut */

/* Tekstilguide start */
/* Tekstilguide slut */

/* Bæredygitghed start */
.bæredygithed_1 {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 100px;
}

.bæredygtihed_2 {
  display: flex;
  flex-direction: column-reverse;
}

.bæredygtighed_2_2 {
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: 1fr;
}
/* Bæredygtiged slut */

@media (min-width: 500px) {
  .forside {
    display: grid;
    grid-template-columns: 1fr;
  }
  .bæredygithed_1 {
    padding-left: 250px;
    padding-right: 250px;
  }

  .bæredygtighed_2_2 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Her starter Anders menu */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 50px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}

.menu a:hover {
  color: #bbb08d;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/* Her sluttter Anders menu */

/* Her starter footer menu */
footer {
  padding: 30px;
}
/* Her sluttter footer menu */
